@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

:root {
  --color-primary-teal: #1ABC9C;
  --color-mint-btn: #E8F8F5;
  --color-text-dark: #121212;
  --color-text-light: #ffffff;
  --color-border-light: #dddddd;
  --color-hover-light: #e2ecea;
  --color-light-mint: #F0F9F8;
}

body {
  background-color: var(--color-text-light);
  color: var(--color-text-dark);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

p{
  margin: 0;
  padding: 0;
}

.bg-gradient {
  background: linear-gradient(98.45deg, #1E3A5F 0%, #1ABC9C 100%);
}

.btn-gradient {
  background: linear-gradient(100.93deg, #17C3A9 8.18%, #19CF8E 92.72%);
}

.d-none{
  display: none;
}

/* You can add global styles to this file, and also import other style files */

// LOGIN
.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-dark);
  background: linear-gradient(98.45deg, #1E3A5F 0%, #1ABC9C 100%);
  font-family: 'Segoe UI', sans-serif;
}

.logo-area {
  text-align: center;
}

.logo-area {
  p {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-primary-teal);
    padding: 0.5rem;
  }

  .logo-img img {
    width: 100px;
    height: 90px;
  }
}

.login-card {
  background: var(--color-text-light);
  padding: 2.5rem;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}
 
.input-group {
  margin-bottom: 1.5rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--color-text-dark);
}

input {
  width: 100%;
  padding: 12px;
  border: 2px solid var(--color-border-light);
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: var(--color-primary-teal);
}

.btn-primary {
  width: 100%;
  padding: 12px;
  background: linear-gradient(100.93deg, #17C3A9 8.18%, #19CF8E 92.72%);
  color: var(--color-text-light);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0.5rem;
  transition: transform 0.2s, background 0.3s;
}

.btn-primary:hover {
  background: linear-gradient(100.93deg, #19CF8E 8.18%, #17C3A9 92.72%);
  transform: translateY(-2px);
}


// Dashbioard

.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: var(--color-light-mint);
}

.sidebar {
    width: 220px;
    background-color: var(--color-light-mint);
    padding: 20px;
    border-right: 1px solid var(--color-border-light);
}

a {
  color: var(--color-text-dark);
  text-decoration: none;
}

.nav-item {
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 5px;
}

.nav-item:hover {
  background: var(--color-hover-light)
}

.chat-area {
  display: flex;
  flex-direction: column;
  background: var(--color-text-light);
}

.main-content {
  width: 900px;
}
